language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly
  - hhvm

before_script:
  - composer install

script:
  - phpunit

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
